.navBar {
  display: grid;
  grid-template-columns: 94% 6%;
  margin-top: 1rem;
}

.logout-button {
  display: flex;
  float: right;
}

.action-container {
  margin: 1rem 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.customer-details-heading-section {
  display: flex;
  height: 4rem;
  justify-content: center;
}

.add-customer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 500px !important;
  max-width: 1000px !important;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 40%;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
