/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

body {
  background: url(./assets/background.jpg) !important;
  background-size: cover !important;
}

h2 {
  color: black !important;
}

h1 {
  color: black !important;
}
