

<table class="table table-striped">
    <thead>
        <tr>
            <th>AddressId</th>&nbsp;&nbsp;
            <th>streetAddress</th>&nbsp;&nbsp;
            <th>city</th>&nbsp;&nbsp;
            <th>state</th>&nbsp;&nbsp;
            <th>country</th>&nbsp;&nbsp;
            <th>zip</th>&nbsp;&nbsp;
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{add1.addressId}}</td>&nbsp;&nbsp;
            <td>{{add1.streetAddress}}</td>&nbsp;&nbsp;
            <td>{{add1.city}}</td>&nbsp;&nbsp;
            <td>{{add1.state}}</td>&nbsp;&nbsp;
            <td>{{add1.zip}}</td>&nbsp;&nbsp;
       </tr>
    </tbody>

</table>