<div class="container">
    <button type="button" (click)="getCustomers()"> get data</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CustomerId</th>&nbsp;&nbsp;
            <th>AddressId</th>&nbsp;&nbsp;
            <th>FirstName</th>&nbsp;&nbsp;
            <th>LastName</th>&nbsp;&nbsp;
            <th>Email</th>&nbsp;&nbsp;
            <th>PhoneNumber</th>&nbsp;&nbsp;
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of add">
            <td>{{a.customer.customerId}}</td>&nbsp;&nbsp;
            <td><a [routerLink]="['/addressdetails',a.addressId]">{{a.addressId}}</a></td>&nbsp;&nbsp;
            <!-- <td>{{a.addressId}}</td>&nbsp;&nbsp; -->
            <td>{{a.customer.first_name}}</td>&nbsp;&nbsp;
            <td>{{a.customer.last_name}}</td>&nbsp;&nbsp;
            <td>{{a.customer.email}}</td>&nbsp;&nbsp;
            <td>{{a.customer.phone}}</td>
        </tr>
    </tbody>

</table>

</div>